@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
}

.container{
    
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/wp7550072-car-garage-wallpapers.jpg);
    background-position: center;
    background-size: cover;

}

p{
    font-size: 15px;
    color: white;
    line-height: 16px;
}

.btn{
    padding: 12px 28px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
}
.btn:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
}

nav ul{
    list-style: none;
    font-size: 30px;
    display: flex;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
    transition: 0.5s;
}

.row{
    display: flex;
    align-items: center;
    height: 73%;
    column-gap: 10px;
}

.col{
    flex-basis: 50%;
}

h1{
    color: white;
    font-size: 100px;
}

desc{
    font-size: 16px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
    position: relative;
    transition: 0.5s;
    margin: 10px 15px;
}


.card .card_head{
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 6px;
    padding: 6px;
}

.card .card_bottom{
    position: absolute;
    bottom: 26px;
}

.card:hover{
    transform: translateY(-10px);
    border-color: white;
}

.cards{
    padding-left: 180px;
    padding-top: 50px;
    
}

.card.card_1{
    background-image: url(images/wp2926758-ford-wallpapers.jpg);
}

.card.card_2{
    background-image: url(images/q8-e-tron-17.png);
}

.card.card_3{
    background-image: url(images/bmw-i4.jpg);
}

.card.card_4{
    background-image: url(images/hq720.jpg);
}